* {
  padding: 0;
  margin: 0;
  font-family: sans-serif, helvetica, calibri, arial;
}

body {
  background-color: #DDD;
}

#game-container {
  position: relative;
  width: 100%;
  height: 604px;
  padding: 20px 0px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
}

#menu {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: table;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
}

#menu.hide {
  display: none;
}

#join-multi {

}

#join-multi label {
  color: white;
}

#multiplayerGameId {
  box-sizing: border-box;
  margin: 5px 0px;
  font-size: 14px;
  width: 100%;
  padding: 7px 10px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.menu-align {
  display: table-cell;
  vertical-align: middle;
}

.menu-options {
  margin: 0px auto;
  padding: 20px;
  border: 2px solid white;
  width: 300px;
  text-align: center;
  background-color: black;
}

.menu-title {
  color: white;
}

.menu-options button {
  margin: 5px 0px;
  font-size: 14px;
  width: 100%;
  padding: 7px 0px;
}

.menu-options button:hover {
  cursor: pointer;
  background-color: #bdbdbd; 
}

.menu-options button:focus {
  background-color: #4a4a4a;
  color: white;
}

.item-large, .item-small {
  position: relative;
  color: white;
  border: 1px solid #DDD;
  border: 1px solid #DDD;
}

.item-large {
  margin: 20px 0px;
  height: 600px;
  width: 300px;
  
}

.item-small {
  margin: 0px 10px;
  height: 300px;
  width: 150px;
}

.game-over {
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
}

.game-over-message {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.game-over-message h1 {
  font-size: 42px;
}

#stats {
  border: none;
  height: 600px;
}

#stats ul {
  list-style: none;
}

#stats button {
  display: block;
  width: 100%;
  padding: 3px;
  background: none;
  color: white;
  border: 1px solid white;
}

#stats button:hover {
  cursor: pointer;
  background: #2d2d2d;
}

#stats button:focus {
  background: #aaa;
  color: black;
}

#next-piece {
  border: 1px solid white;
}