@font-face {
  font-family: Kameron;
  src: url(../fonts/Kameron-Bold.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Medium.ttf)
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif, helvetica, calibri, arial;
}

body {
  background-color: #DDD;
}

#game-container {
  position: relative;
  width: 100%;
  height: 604px;
  padding: 20px 0px;
  background: url(../img/bg.png) no-repeat top left;
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
}

#flash-message {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,.4);
  z-index: 10;
  color: white;
  transition: .3s ease-in-out;
}

#flash-message.hide {
  transform: translateX(calc(-100% - 20px));
}

.error {
  background-color: rgb(226, 90, 90);
}

.notice {
  background-color: rgb(26, 194, 40);
}

.menu {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: table;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
}

.menu.hide {
  display: none;
}

.menu-align {
  display: table-cell;
  vertical-align: middle;
}

.menu-options {
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #08284c;
  width: 300px;
  text-align: center;
  background-color: #124580;
  border-radius: 3px;
}

.menu-title {
  font-family: Roboto;
  text-transform: uppercase;
  color: #b6d8ff;
}

.menu-options button {
  margin: 5px 0px;
  font-size: 14px;
  width: 100%;
  padding: 7px 0px;
  background-color: #b6d8ff;
  border: none;
  border-radius: 3px;
}

.menu-options button:hover {
  cursor: pointer;
  background-color: #92afcf;
}

.menu-options button:focus {
  background-color: #6a8097;
  color: white;
}

.menu-options input {
  font-family: Roboto;
  box-sizing: border-box;
  margin: 5px 0px;
  font-size: 14px;
  width: 100%;
  padding: 7px 10px;
  background-color: #0c325e;
  border: 1px solid #b6d8ff;
  color: #b6d8ff;
}

.menu-options input::placeholder {
  color: #538cce
}

.item-large, .item-small {
  position: relative;
  color: white;
}

.item-large {
  height: 622px;
  width: 322px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #0e335c;
  box-shadow: 0px 0px 3px 2px rgba(0,0,0,.4);
  border: 1px solid #08284c;
}

.item-small {
  margin: 0px 10px;
  height: 300px;
  width: 150px;
  box-shadow: 0px 0px 3px 2px rgba(0,0,0,.4);
}

.item-large canvas, .item-small canvas {
  border: 1px solid #4175b1;
  background-color: black;
}

.item-large canvas {
  width: 300px;
  height: 600px;
}

.item-small canvas {
  width: 150px;
  height: 300px;
}

.game-over {
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6);
}

.game-over-message {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.game-over-message h1 {
  font-size: 42px;
}

#opponents {
  height: 622px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
}

#stats {
  border: none;
  display:flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 620px;
  box-sizing: border-box;
  padding: 0px 12px;
  background: none;
  box-shadow: none;
}

#stats button {
  display: block;
  width: 120px;
  padding: 3px;
  background: none;
  color: white;
  border: 1px solid white;
}

#stats button:hover {
  cursor: pointer;
  background: #2d2d2d;
}

#stats button:focus {
  background: #aaa;
  color: black;
}

.card {
  width: 130px;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #124580;
  box-shadow: 0px 0px 3px 2px rgba(0,0,0,.4);
  border-radius: 3px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  cursor: default;
}

.card.dark {
  background-color: #0a2f5a;
}

.card canvas {
  margin: 0px 5px;
  background: none;
  border: none;
}

.card-label {
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 14px;
  color: #b6d8ff;
  width: 100%;
  padding: 3px 5px;
  box-sizing: border-box;
  background-color: #3e77b9;
  border-radius: 3px 3px 0px 0px;
}

.card-info {
  font-family: Roboto;
  min-height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 24px;
  padding: 5px 0px;
}

.card-footer {
  font-family: Roboto;
  text-transform: uppercase;
  text-align: center;
  color: #63a5f0;
  padding: 5px 5px;
  font-size: 11px;
}

#game-lines {
  color: white;
}

#next-piece {
  width: 120px;
  height: 120px;
}

#power-up-container.hide {
  display: none;
}

.p-up {
  width: 61px;
  height: 61px;
}

.power-up1 {
  background: url(../img/PUSL.png) no-repeat top left;
}
.power-up2 {
  background: url(../img/PUSB.png) no-repeat top left;
}
.power-up3 {
  background: url(../img/PUSC.png) no-repeat top left;
}
.power-up4 {
  background: url(../img/PUCB.png) no-repeat top left;
}

.power-up-target {
  font-family: Kameron;
  position: absolute;
  font-size: 20px;
  color: rgb(180,180,180);
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  cursor: default;
}

.item-large .power-up-target {
  top: 15px;
  left: 15px;
}

.item-small .power-up-target {
  top: 3px;
  left: 5px;
}

#mute {
  display: block;
  width: 40px;
  height: 40px;
  background: url(../img/Music.png) no-repeat;
}

#mute:hover {
  cursor: pointer;
  background-position: -40px 0px;
}

#mute.muted {
  background-position: 0px -40px;
}

#mute.muted:hover {
  background-position: -40px -40px;
}