* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #DDD;
}

.container {
  width: 100%;
  height: 640px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.item-large {
  margin: 20px 0px;
  height: 600px;
  width: 300px;
  border: 1px solid #DDD;
}

.item-small {
  color: white;
  margin: 0px 10px;
  height: 300px;
  width: 150px;
  border: 1px solid #DDD;
}

#stats {
  border: none;
}